<h1>Angular Router</h1>
<nav>
  <a routerLink="/page1" routerLinkActive="active">Page 1</a>
  <a routerLink="/page2" routerLinkActive="active">Page 2</a>
  <a routerLink="/page3" routerLinkActive="active">Page 3</a>
</nav>
<router-outlet></router-outlet>
